.justify_items_start {
    justify-items: start;
}
.justify_items_end {
    justify-items: end;
}
.justify_items_center {
    justify-items: center;
}
.justify_items_strech {
    justify-items: stretch;
}
