.block {
    display: block;
}
.hidden {
    display: hidden;
}
.inline_block {
    display: inline-block;
}
.inline {
    display: inline;
}
.flex {
    display: flex;
}
.inline_flex {
    display: inline-flex;
}
.inline_table {
    display: inline-table;
}
.table_caption {
    display: table-caption;
}
.table_cell {
    display: table-cell;
}
.table_column {
    display: table-column;
}
.table_column_group {
    display: table-column-group;
}
.table_footer_group {
    display: table-footer-group;
}
.table_header_group {
    display: table-header-group;
}
.table_row_group {
    display: table-row-group;
}
.table_row {
    display: table-row;
}
.flow_root {
    display: flow-root;
}
.grid {
    display: grid;
}
.inline_grid {
    display: inline-grid;
}
.contents {
    display: contents;
}
.list_item {
    display: list-item;
}
