.p_0 {
    padding: 0;
}

.pt_0,
.py_0 {
    padding-top: 0;
}

.pr_0,
.px_0 {
    padding-right: 0;
}

.pb_0,
.py_0 {
    padding-bottom: 0;
}

.pl_0,
.px_0 {
    padding-left: 0;
}

.p_1 {
    padding: 0.25rem;
}

.pt_1,
.py_1 {
    padding-top: 0.25rem;
}

.pr_1,
.px_1 {
    padding-right: 0.25rem;
}

.pb_1,
.py_1 {
    padding-bottom: 0.25rem;
}

.pl_1,
.px_1 {
    padding-left: 0.25rem;
}

.p_2 {
    padding: 0.5rem;
}

.pt_2,
.py_2 {
    padding-top: 0.5rem;
}

.pr_2,
.px_2 {
    padding-right: 0.5rem;
}

.pb_2,
.py_2 {
    padding-bottom: 0.5rem;
}

.pl_2,
.px_2 {
    padding-left: 0.5rem;
}

.p_3 {
    padding: 1rem;
}

.pt_3,
.py_3 {
    padding-top: 1rem;
}

.pr_3,
.px_3 {
    padding-right: 1rem;
}

.pb_3,
.py_3 {
    padding-bottom: 1rem;
}

.pl_3,
.px_3 {
    padding-left: 1rem;
}

.p_4 {
    padding: 1.5rem;
}

.pt_4,
.py_4 {
    padding-top: 1.5rem;
}

.pr_4,
.px_4 {
    padding-right: 1.5rem;
}

.pb_4,
.py_4 {
    padding-bottom: 1.5rem;
}

.pl_4,
.px_4 {
    padding-left: 1.5rem;
}

.p_5 {
    padding: 3rem;
}

.pt_5,
.py_5 {
    padding-top: 3rem;
}

.pr_5,
.px_5 {
    padding-right: 3rem;
}

.pb_5,
.py_5 {
    padding-bottom: 3rem;
}

.pl_5,
.px_5 {
    padding-left: 3rem;
}
